@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@layer tokens, theme, base, components, utilities;
@import 'tailwindcss';
@import './tokens.css' layer(tokens);
@import './theme.css' layer(theme);

@plugin 'tailwindcss-animate';

@source '../';

@custom-variant data-checked (&[data-state~="checked"]);
@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: var(--font-family-sans);
	--font-serif: var(--font-family-serif);
	--font-mono: var(--font-family-mono);

	--color-c-background: var(--c-neutral-background);
	--color-c-surface: var(--c-neutral-surface);
	--color-c-component: var(--c-neutral-component);
	--color-c-overlay: var(--c-neutral-overlay);
	--color-c-panel: var(--c-neutral-panel);

	--color-c-display: var(--c-neutral-display);
	--color-c-primary: var(--c-neutral-primary);
	--color-c-secondary: var(--c-neutral-secondary);
	--color-c-hint: var(--c-neutral-hint);
	--color-c-ghost: var(--c-neutral-ghost);
	--color-c-symbol: var(--c-neutral-symbol);

	--color-c-accent: var(--c-neutral-accent);
	--color-c-accent-active: var(--c-neutral-primary);

	--color-c-main: var(--c-neutral-main);
	--color-c-main-active: var(--c-neutral-main-active);
	--color-c-main-contrast: var(--c-neutral-main-contrast);

	--color-c-mist: var(--c-neutral-mist);
	--color-c-splash: var(--c-neutral-splash);
	--color-c-flood: var(--c-neutral-flood);

	--color-c-divider: var(--c-neutral-divider);
	--color-c-border: var(--c-neutral-border);
	--color-c-edge: var(--c-neutral-edge);
	--color-c-focus: var(--c-theme-main);
}

@utility themed {
	--color-c-background: var(--c-theme-background);
	--color-c-overlay: var(--c-theme-surface);
	--color-c-component: var(--c-theme-component);
	--color-c-surface: var(--c-theme-surface);
	--color-c-panel: var(--c-theme-panel);

	--color-c-display: var(--c-theme-display);
	--color-c-primary: var(--c-theme-primary);
	--color-c-secondary: var(--c-theme-secondary);
	--color-c-hint: var(--c-theme-hint);
	--color-c-ghost: var(--c-theme-ghost);
	--color-c-symbol: var(--c-theme-symbol);

	--color-c-accent: var(--c-theme-accent);
	--color-c-accent-active: var(--c-theme-primary);

	--color-c-main: var(--c-theme-main);
	--color-c-main-active: var(--c-theme-main-active);
	--color-c-main-contrast: var(--c-theme-main-contrast);

	--color-c-mist: var(--c-theme-mist);
	--color-c-splash: var(--c-theme-splash);
	--color-c-flood: var(--c-theme-flood);

	--color-c-divider: var(--c-theme-divider);
	--color-c-border: var(--c-theme-border);
	--color-c-edge: var(--c-theme-edge);
	--color-c-focus: var(--c-theme-main);

	color: var(--color-c-primary);
}

@theme inline {
	--color-background: var(--color-c-background);
	--color-foreground: var(--color-c-primary);
	--color-card: var(--color-c-panel);
	--color-card-foreground: var(--color-c-display);
	--color-popover: var(--color-c-overlay);
	--color-popover-foreground: var(--color-c-primary);
	--color-primary: var(--color-c-main);
	--color-primary-foreground: var(--color-c-main-contrast);
	--color-secondary: var(--c-theme-flood);
	--color-secondary-foreground: var(--color-c-accent);
	--color-muted: var(--color-c-splash);
	--color-muted-foreground: var(--color-c-secondary);
	--color-accent: var(--color-c-splash);
	--color-accent-foreground: var(--color-c-display);
	--color-destructive: #af3029;
	--color-destructive-foreground: var(--white);
	--color-border: var(--color-c-divider);
	--color-input: var(--color-c-border);
	--color-ring: var(--color-c-focus);
	--color-chart-1: #29a383;
	--color-chart-2: #00a2c7;
	--color-chart-3: #3e63dd;
	--color-chart-4: #6e56cf;
	--color-chart-5: #ab4aba;

	--radius-sm: 2px;
	--radius-md: 4px;
	--radius-lg: 8px;
	--radius-xl: 12px;
}

@layer components {
	:root {
		--font-family-sans:
			'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto,
			'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji';
		--font-family-mono:
			'Berkeley Mono', ui-monospace, SFMono-Regular, 'Menlo', 'Consolas (Custom)',
			'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji';
		--font-family-serif: ui-serif, 'Georgia', Cambria, 'Times New Roman', Times, serif;

		--default-font-family: var(--font-family-sans);
		--heading-font-family: var(--font-family-sans);
		--code-font-family: var(--font-family-mono);
		--strong-font-family: var(--font-family-sans);
		--em-font-family: var(--font-family-sans);
		--em-font-size-adjust: 1;
		--quote-font-family: var(--font-family-serif);
	}

	* {
		@apply border-border outline-ring/50;
	}

	html {
		accent-color: var(--color-primary);
		scrollbar-width: thin;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		font-synthesis: none;
		font-variant-ligatures: common-ligatures;
		font-variant-numeric: tabular-nums;
	}

	h1,
	.h1 {
		@apply text-2xl font-semibold;
	}

	h2,
	.h2 {
		@apply text-xl font-medium;
	}

	h3,
	.h3 {
		@apply text-lg font-medium;
	}

	h4,
	.h4 {
		@apply text-base font-medium;
	}

	h5,
	.h5,
	h6,
	.h6 {
		@apply text-sm font-semibold;
	}

	hr {
		@apply m-0 block h-[1px] w-full border-0 border-none border-transparent bg-c-divider;
	}

	pre,
	code {
		font-family: var(--font-family-mono);
	}

	b,
	strong {
		@apply font-semibold;
	}

	a:where(:any-link, button),
	.link {
		@apply font-medium text-c-accent hover:text-c-accent-active hover:underline;
		text-decoration-line: none;
		text-decoration-style: solid;
		text-decoration-thickness: min(2px, max(1px, 0.05em));
		text-underline-offset: calc(0.025em + 2px);
		text-decoration-skip-ink: auto;
		text-decoration-color: var(--c-theme-divider);

		&:has(.icon, .lucide) {
			@apply inline-flex items-center gap-1;
		}
	}

	input[type='text']::-webkit-calendar-picker-indicator {
		display: none !important; /* https://stackoverflow.com/questions/23177409/remove-arrow-in-chrome-for-input-with-attribute-list */
	}

	@keyframes spinnerLeafFade {
		from {
			opacity: 1;
		}
		to {
			opacity: 0.25;
		}
	}
}

@utility h-viewport {
	@apply h-[100dvh];
}

@utility w-viewport {
	@apply w-[100dvw];
}

@utility surface {
	@apply bg-c-panel;
	/* backdrop-filter: var(--backdrop-filter-panel); */ /* TODO: Add support for backdrop-filter. */
}

@utility card {
	@apply relative block overflow-hidden rounded-md border border-c-divider surface p-4;
}

@utility icon {
	@apply inline-flex aspect-square h-[1em] w-[1em] shrink-0 leading-none text-current;
}

@layer components {
	.lucide {
		@apply icon;
	}
}

@utility code {
	@apply rounded-sm bg-c-splash px-1.25 font-mono text-[0.875em] themed;
}

@utility checkbox {
	@apply size-[1em] overflow-hidden rounded-xs border border-c-border text-[1.125em] focus-visible:ring-1 focus-visible:ring-c-focus focus-visible:outline-none;
	&:checked,
	&[data-state~='checked'] {
		@apply border-c-main bg-c-main text-c-main-contrast;
	}
	&:disabled {
		@apply cursor-not-allowed border-c-divider bg-c-splash text-c-symbol opacity-90;
	}
}

@utility selectable {
	@apply cursor-pointer border-c-divider;
	&:hover {
		@apply border-c-divider bg-c-mist;
	}
	&:is(.active, :active) {
		@apply border-c-border bg-c-splash;
	}
	&:is(.selected, [data-status='active'], :has([data-status='active'])) {
		@apply border-c-border bg-c-splash;
	}
	&:is(.selected, [data-status='active'], :has([data-status='active'])):hover,
	&:is(.selected, [data-status='active'], :has([data-status='active'])):active {
		@apply border-c-edge bg-c-flood;
	}
}
