@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import '@radix-ui/themes/styles.css' layer(components);
@import 'tailwindcss/utilities.css' layer(utilities);

@source '../';

@font-face {
	font-family: 'Berkeley Mono';
	src: url('/fonts/BerkeleyMono-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Berkeley Mono';
	src: url('/fonts/BerkeleyMono-Light-Oblique.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Berkeley Mono';
	src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Berkeley Mono';
	src: url('/fonts/BerkeleyMono-Oblique.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Berkeley Mono';
	src: url('/fonts/BerkeleyMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Berkeley Mono';
	src: url('/fonts/BerkeleyMono-Medium-Oblique.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Berkeley Mono';
	src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Berkeley Mono';
	src: url('/fonts/BerkeleyMono-Bold-Oblique.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@custom-variant data-checked (&[data-state~="checked"]);

@theme {
	--font-sans: var(--font-family-sans);
	--font-serif: var(--font-family-serif);
	--font-mono: var(--font-family-mono);

	--color-background: var(--color-background);
	--color-overlay: var(--color-overlay);
	--color-surface: var(--color-surface);
	--color-transparent: var(--color-transparent);

	--color-panel-solid: var(--color-panel-solid);
	--color-panel-translucent: var(--color-panel-translucent);
	--color-panel: var(--color-panel);

	--color-display: var(--gray-12);
	--color-primary: var(--gray-a12);
	--color-secondary: var(--gray-a11);
	--color-hint: var(--gray-a10);
	--color-symbol: var(--gray-a11);
	--color-ghost: var(--gray-a6);
	--color-accent: var(--accent-11);
	--color-accent-active: color-mix(in oklch, var(--accent-11), var(--accent-12));

	--color-main: var(--gray-9);
	--color-main-active: var(--gray-10);
	--color-main-contrast: var(--gray-contrast);

	--color-tint: var(--gray-a2);
	--color-stain: var(--gray-a3);
	--color-dye: var(--gray-a4);

	--color-hovered: color-mix(in oklch, var(--gray-a1), var(--gray-a2));
	--color-active: color-mix(in oklch, var(--gray-a2), var(--gray-a3));
	--color-selected: color-mix(in oklch, var(--accent-a2), var(--accent-a3));
	--color-selected-hovered: color-mix(in oklch, var(--accent-a3), var(--accent-a4));
	--color-divider: var(--gray-a4);
	--color-border-subtle: var(--gray-5);
	--color-border: var(--gray-6);
	--color-border-selected: var(--accent-6);
	--color-border-active: var(--gray-7);
	--color-edge: var(--gray-8);
	--color-indicator: var(--accent-9);

	--color-gray-1: var(--gray-1);
	--color-gray-2: var(--gray-2);
	--color-gray-3: var(--gray-3);
	--color-gray-4: var(--gray-4);
	--color-gray-5: var(--gray-5);
	--color-gray-6: var(--gray-6);
	--color-gray-7: var(--gray-7);
	--color-gray-8: var(--gray-8);
	--color-gray-9: var(--gray-9);
	--color-gray-10: var(--gray-10);
	--color-gray-11: var(--gray-11);
	--color-gray-12: var(--gray-12);
	--color-gray-a1: var(--gray-a1);
	--color-gray-a2: var(--gray-a2);
	--color-gray-a3: var(--gray-a3);
	--color-gray-a4: var(--gray-a4);
	--color-gray-a5: var(--gray-a5);
	--color-gray-a6: var(--gray-a6);
	--color-gray-a7: var(--gray-a7);
	--color-gray-a8: var(--gray-a8);
	--color-gray-a9: var(--gray-a9);
	--color-gray-a10: var(--gray-a10);
	--color-gray-a11: var(--gray-a11);
	--color-gray-a12: var(--gray-a12);
	--color-gray-contrast: var(--gray-contrast);
	--color-gray-surface: var(--gray-surface);
	--color-gray-indicator: var(--gray-indicator);
	--color-gray-track: var(--gray-track);
	--color-gray: var(--gray-9);

	--color-theme-1: var(--accent-1);
	--color-theme-2: var(--accent-2);
	--color-theme-3: var(--accent-3);
	--color-theme-4: var(--accent-4);
	--color-theme-5: var(--accent-5);
	--color-theme-6: var(--accent-6);
	--color-theme-7: var(--accent-7);
	--color-theme-8: var(--accent-8);
	--color-theme-9: var(--accent-9);
	--color-theme-10: var(--accent-10);
	--color-theme-11: var(--accent-11);
	--color-theme-12: var(--accent-12);
	--color-theme-a1: var(--accent-a1);
	--color-theme-a2: var(--accent-a2);
	--color-theme-a3: var(--accent-a3);
	--color-theme-a4: var(--accent-a4);
	--color-theme-a5: var(--accent-a5);
	--color-theme-a6: var(--accent-a6);
	--color-theme-a7: var(--accent-a7);
	--color-theme-a8: var(--accent-a8);
	--color-theme-a9: var(--accent-a9);
	--color-theme-a10: var(--accent-a10);
	--color-theme-a11: var(--accent-a11);
	--color-theme-a12: var(--accent-a12);
	--color-theme-contrast: var(--accent-contrast);
	--color-theme-surface: var(--accent-surface);
	--color-theme-indicator: var(--accent-indicator);
	--color-theme-track: var(--accent-track);
	--color-theme: var(--accent-9);

	--color-focus-1: var(--focus-1);
	--color-focus-2: var(--focus-2);
	--color-focus-3: var(--focus-3);
	--color-focus-4: var(--focus-4);
	--color-focus-5: var(--focus-5);
	--color-focus-6: var(--focus-6);
	--color-focus-7: var(--focus-7);
	--color-focus-8: var(--focus-8);
	--color-focus-9: var(--focus-9);
	--color-focus-10: var(--focus-10);
	--color-focus-11: var(--focus-11);
	--color-focus-12: var(--focus-12);
	--color-focus-a1: var(--focus-a1);
	--color-focus-a2: var(--focus-a2);
	--color-focus-a3: var(--focus-a3);
	--color-focus-a4: var(--focus-a4);
	--color-focus-a5: var(--focus-a5);
	--color-focus-a6: var(--focus-a6);
	--color-focus-a7: var(--focus-a7);
	--color-focus-a8: var(--focus-a8);
	--color-focus-a9: var(--focus-a9);
	--color-focus-a10: var(--focus-a10);
	--color-focus-a11: var(--focus-a11);
	--color-focus-a12: var(--focus-a12);
	--color-focus: var(--focus-9);

	--radius-1: var(--radius-1);
	--radius-2: var(--radius-2);
	--radius-3: var(--radius-3);
	--radius-4: var(--radius-4);
	--radius-5: var(--radius-5);
	--radius-6: var(--radius-6);
	--radius-full: var(--radius-full);
	--radius-thumb: var(--radius-thumb);

	--shadow-1: var(--shadow-1);
	--shadow-2: var(--shadow-2);
	--shadow-3: var(--shadow-3);
	--shadow-4: var(--shadow-4);
	--shadow-5: var(--shadow-5);
	--shadow-6: var(--shadow-6);
}

@utility surface {
	@apply bg-panel;
	backdrop-filter: var(--backdrop-filter-panel);
}

@utility card {
	@apply relative block overflow-hidden rounded-md border border-border-subtle p-3 contain-paint;
	&::before {
		@apply pointer-events-none absolute inset-0 z-[-1] rounded-md surface;
		content: '';
		transition: inherit;
	}
}

@utility icon {
	@apply inline-flex aspect-square h-[1em] w-[1em] shrink-0 leading-none text-current;
}

@utility checkbox {
	@apply size-[1.05em] shrink-0 rounded-xs border border-border focus-visible:ring-1 focus-visible:ring-focus focus-visible:outline-none;
	&:checked,
	&[data-state~='checked'] {
		@apply border-theme bg-theme text-theme-contrast;
	}
	&:disabled {
		@apply cursor-not-allowed border-border-subtle bg-stain text-symbol opacity-90;
	}
}

@utility selectable {
	@apply cursor-pointer border-border-subtle;
	&:hover {
		@apply border-border bg-hovered;
	}
	&:is(.active, :active) {
		@apply border-border-active bg-active;
	}
	&:is(.selected, [data-status='active'], :has([data-status='active'])) {
		@apply border-border-selected bg-selected;
	}
	&:is(.selected, [data-status='active'], :has([data-status='active'])):hover,
	&:is(.selected, [data-status='active'], :has([data-status='active'])):active {
		@apply border-border-selected bg-selected-hovered;
	}
}

@utility themed {
	--color-display: var(--accent-12);
	--color-primary: var(--accent-a12);
	--color-secondary: var(--accent-a11);
	--color-hint: var(--accent-a10);
	--color-symbol: var(--accent-a11);
	--color-ghost: var(--accent-a6);

	--color-main: var(--accent-9);
	--color-main-active: var(--accent-10);
	--color-main-contrast: var(--accent-contrast);

	--color-tint: var(--accent-a2);
	--color-stain: var(--accent-a3);
	--color-dye: var(--accent-a4);

	--color-hovered: color-mix(in oklch, var(--accent-a1), var(--accent-a2));
	--color-active: color-mix(in oklch, var(--accent-a2), var(--accent-a3));
	--color-selected: color-mix(in oklch, var(--accent-a2), var(--accent-a3));
	--color-selected-hovered: color-mix(in oklch, var(--accent-a3), var(--accent-a4));
	--color-divider: var(--accent-a4);
	--color-border-subtle: var(--accent-4);
	--color-border: var(--accent-5);
	--color-border-selected: var(--accent-a5);
	--color-border-active: var(--accent-6);
	--color-edge: var(--accent-8);

	color: var(--color-accent);
}

@layer base {
	:root {
		--font-family-sans:
			'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI (Custom)', Roboto,
			'Helvetica Neue', 'Open Sans (Custom)', system-ui, sans-serif, 'Apple Color Emoji',
			'Segoe UI Emoji';
		--font-family-mono:
			'Berkeley Mono', ui-monospace, SFMono-Regular, 'Menlo', 'Consolas (Custom)',
			'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji';
		--font-family-serif: ui-serif, 'Georgia', Cambria, 'Times New Roman', Times, serif;
	}

	.radix-themes {
		--default-font-family: var(--font-family-sans);
		--heading-font-family: var(--font-family-sans);
		--code-font-family: var(--font-family-mono);
		--strong-font-family: var(--font-family-sans);
		--em-font-family: var(--font-family-sans);
		--em-font-size-adjust: 1;
		--quote-font-family: var(--font-family-serif);

		--font-weight-light: 300;
		--font-weight-normal: 400;
		--font-weight-medium: 500;
		--font-weight-bold: 700;
	}

	html {
		@apply font-sans;
		height: 100dvh;
		scrollbar-width: thin;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		font-synthesis: none;
		font-size: calc(1rem * var(--scaling, 1)); /* Scale by Radix UI scaling factor. */
	}

	body {
		@apply m-0 h-[100dvh];
	}

	h1,
	.h1 {
		@apply text-2xl font-medium;
	}

	h2,
	.h2 {
		@apply text-xl font-medium;
	}

	h3,
	.h3 {
		@apply text-lg font-bold;
	}

	h4,
	.h4 {
		@apply text-base font-medium;
	}

	h5,
	.h5,
	h6,
	.h6 {
		@apply text-sm font-bold;
	}

	em {
		letter-spacing: var(--em-letter-spacing, 0);
	}

	hr {
		@apply m-0 block h-[1px] w-full border-0 border-none border-transparent bg-divider;
	}

	pre,
	code {
		font-family: var(--font-family-mono);
	}

	a:where(:any-link, button),
	.link {
		@apply inline-flex items-center gap-1 font-medium text-accent hover:text-accent-active hover:underline;
		text-decoration-line: none;
		text-decoration-style: solid;
		text-decoration-thickness: min(2px, max(1px, 0.05em));
		text-underline-offset: calc(0.025em + 2px);
		text-decoration-skip-ink: auto;
		text-decoration-color: var(--color-theme-4);
	}

	input[type='text']::-webkit-calendar-picker-indicator {
		display: none !important; /* https://stackoverflow.com/questions/23177409/remove-arrow-in-chrome-for-input-with-attribute-list */
	}

	@keyframes spinnerLeafFade {
		from {
			opacity: 1;
		}
		to {
			opacity: 0.25;
		}
	}
}

@utility vr {
	@apply block h-full w-[1px] self-center border-0 border-none border-transparent;
	&::before {
		content: '';
		@apply block h-full bg-divider;
	}
}
