:root {
	color-scheme: light dark;

	--c-bg: light-dark(var(--white), var(--black));
	--c-fg: light-dark(var(--black), var(--white));

	/* Neutral Background & Surface */
	--c-neutral-background: light-dark(var(--radix-sage-2), var(--radix-sage-1));
	--c-neutral-surface: light-dark(var(--radix-sage-1), var(--radix-sage-2));
	--c-neutral-overlay: light-dark(var(--radix-sage-1), var(--radix-sage-3));
	--c-neutral-component: light-dark(var(--radix-sage-3), var(--radix-sage-3));
	--c-neutral-panel: light-dark(var(--radix-sage-2), var(--radix-sage-2));

	/* Neutral Text & Symbols */
	--c-neutral-display: color-mix(in oklch, var(--radix-sage-12) 50%, var(--c-fg) 50%);
	--c-neutral-primary: var(--radix-sage-12);
	--c-neutral-symbol: color-mix(in oklch, var(--radix-sage-11) 50%, var(--radix-jade-12) 50%);
	--c-neutral-secondary: oklch(from var(--c-neutral-primary) l c h / 0.75);
	--c-neutral-hint: oklch(from var(--c-neutral-primary) l c h / 0.6);
	--c-neutral-ghost: oklch(from var(--c-neutral-primary) l c h / 0.4);
	--c-neutral-accent: color-mix(in oklch, var(--radix-sage-12) 50%, var(--radix-jade-11) 50%);

	/* Neutral Borders & Dividers */
	--c-neutral-divider: light-dark(var(--radix-sage-5), var(--radix-sage-4));
	--c-neutral-border: light-dark(var(--radix-sage-6), var(--radix-sage-5));
	--c-neutral-edge: light-dark(var(--radix-sage-7), var(--radix-sage-6));

	/* Neutral Semantic Colors */
	--c-neutral-main: var(--radix-sage-9);
	--c-neutral-main-active: var(--radix-sage-10);
	--c-neutral-main-contrast: var(--white);

	/* Neutral Interaction States */
	--c-neutral-mist: light-dark(
		oklch(from var(--c-neutral-main) l c h / 0.04),
		oklch(from var(--c-neutral-main) l c h / 0.12)
	);
	--c-neutral-splash: light-dark(
		oklch(from var(--c-neutral-main) l c h / 0.1),
		oklch(from var(--c-neutral-main) l c h / 0.2)
	);
	--c-neutral-flood: light-dark(
		oklch(from var(--c-neutral-main) l c h / 0.16),
		oklch(from var(--c-neutral-main) l c h / 0.32)
	);

	/* Theme Background & Surface */
	--c-theme-background: light-dark(var(--radix-jade-2), var(--radix-jade-1));
	--c-theme-surface: light-dark(var(--radix-jade-1), var(--radix-jade-2));
	--c-theme-component: light-dark(var(--radix-jade-3), var(--radix-jade-3));
	--c-theme-panel: light-dark(var(--radix-jade-2), var(--radix-jade-2));

	/* Theme Text & Symbols */
	--c-theme-display: oklch(from var(--radix-jade-12) calc(l + 2) calc(c / 2) h);
	--c-theme-primary: var(--radix-jade-12);
	--c-theme-symbol: color-mix(in oklch, var(--radix-jade-11) 50%, var(--radix-jade-12) 50%);
	--c-theme-secondary: oklch(from var(--c-theme-primary) l c h / 0.75);
	--c-theme-hint: oklch(from var(--c-theme-primary) l c h / 0.6);
	--c-theme-ghost: oklch(from var(--c-theme-primary) l c h / 0.4);
	--c-theme-accent: var(--radix-jade-11);

	/* Theme Borders & Dividers */
	--c-theme-divider: light-dark(var(--radix-jade-5), var(--radix-jade-4));
	--c-theme-border: light-dark(var(--radix-jade-6), var(--radix-jade-5));
	--c-theme-edge: light-dark(var(--radix-jade-7), var(--radix-jade-6));

	/* Theme Semantic Colors */
	--c-theme-main: var(--radix-jade-9);
	--c-theme-main-active: var(--radix-jade-10);
	--c-theme-main-contrast: var(--white);

	/* Theme Interaction States */
	--c-theme-mist: light-dark(
		oklch(from var(--c-theme-main) l c h / 0.04),
		oklch(from var(--c-theme-main) l c h / 0.08)
	);
	--c-theme-splash: light-dark(
		oklch(from var(--c-theme-main) l c h / 0.1),
		oklch(from var(--c-theme-main) l c h / 0.16)
	);
	--c-theme-flood: light-dark(
		oklch(from var(--c-theme-main) l c h / 0.16),
		oklch(from var(--c-theme-main) l c h / 0.24)
	);
}

.light {
	color-scheme: light;
}

.dark {
	color-scheme: dark;
}
