:root {
	--white: #fff;
	--black: #000;
	--transparent: transparent;

	/* Radix Jade */
	--radix-jade-1: light-dark(#fbfefd, #0d1512);
	--radix-jade-2: light-dark(#f4fbf7, #121c18);
	--radix-jade-3: light-dark(#e6f7ed, #0f2e22);
	--radix-jade-4: light-dark(#d6f1e3, #0b3b2c);
	--radix-jade-5: light-dark(#c3e9d7, #114837);
	--radix-jade-6: light-dark(#acdec8, #1b5745);
	--radix-jade-7: light-dark(#8bceb6, #246854);
	--radix-jade-8: light-dark(#56ba9f, #2a7e68);
	--radix-jade-9: light-dark(#29a383, #29a383);
	--radix-jade-10: light-dark(#26997b, #27b08b);
	--radix-jade-11: light-dark(#208368, #1fd8a4);
	--radix-jade-12: light-dark(#1d3b31, #adf0d4);

	--radix-jade-a1: light-dark(#00c08004, #00de4505);
	--radix-jade-a2: light-dark(#00a3460b, #27fba60c);
	--radix-jade-a3: light-dark(#00ae4819, #02f99920);
	--radix-jade-a4: light-dark(#00a85129, #00ffaa2d);
	--radix-jade-a5: light-dark(#00a2553c, #11ffb63b);
	--radix-jade-a6: light-dark(#009a5753, #34ffc24b);
	--radix-jade-a7: light-dark(#00945f74, #45fdc75e);
	--radix-jade-a8: light-dark(#00976ea9, #48ffcf75);
	--radix-jade-a9: light-dark(#00916bd6, #38feca9d);
	--radix-jade-a10: light-dark(#008764d9, #31fec7ab);
	--radix-jade-a11: light-dark(#007152df, #21fec0d6);
	--radix-jade-a12: light-dark(#002217e2, #b8ffe1ef);

	/* Radix Sage */
	--radix-sage-1: light-dark(#fbfdfc, #101211);
	--radix-sage-2: light-dark(#f7f9f8, #171918);
	--radix-sage-3: light-dark(#eef1f0, #202221);
	--radix-sage-4: light-dark(#e6e9e8, #272a29);
	--radix-sage-5: light-dark(#dfe2e0, #2e3130);
	--radix-sage-6: light-dark(#d7dad9, #373b39);
	--radix-sage-7: light-dark(#cbcfcd, #444947);
	--radix-sage-8: light-dark(#b8bcba, #5b625f);
	--radix-sage-9: light-dark(#868e8b, #63706b);
	--radix-sage-10: light-dark(#7c8481, #717d79);
	--radix-sage-11: light-dark(#5f6563, #adb5b2);
	--radix-sage-12: light-dark(#1a211e, #eceeed);

	--radix-sage-a1: light-dark(#00804004, #00000000);
	--radix-sage-a2: light-dark(#00402008, #f0f2f108);
	--radix-sage-a3: light-dark(#002d1e11, #f3f5f412);
	--radix-sage-a4: light-dark(#001f1519, #f2fefd1a);
	--radix-sage-a5: light-dark(#00180820, #f1fbfa22);
	--radix-sage-a6: light-dark(#00140d28, #edfbf42d);
	--radix-sage-a7: light-dark(#00140a34, #edfcf73c);
	--radix-sage-a8: light-dark(#000f0847, #ebfdf657);
	--radix-sage-a9: light-dark(#00110b79, #dffdf266);
	--radix-sage-a10: light-dark(#00100a83, #e5fdf674);
	--radix-sage-a11: light-dark(#000a07a0, #f4fefbb0);
	--radix-sage-a12: light-dark(#000805e5, #fdfffeed);
}

@supports (color: color(display-p3 1 1 1)) {
	:root {
		--white: color(display-p3 1 1 1);
		--black: color(display-p3 0 0 0);

		/* Radix Jade P3 */
		--radix-jade-1: light-dark(
			color(display-p3 0.986 0.996 0.992),
			color(display-p3 0.059 0.083 0.071)
		);
		--radix-jade-2: light-dark(
			color(display-p3 0.962 0.983 0.969),
			color(display-p3 0.078 0.11 0.094)
		);
		--radix-jade-3: light-dark(
			color(display-p3 0.912 0.965 0.932),
			color(display-p3 0.091 0.176 0.138)
		);
		--radix-jade-4: light-dark(
			color(display-p3 0.858 0.941 0.893),
			color(display-p3 0.102 0.228 0.177)
		);
		--radix-jade-5: light-dark(
			color(display-p3 0.795 0.909 0.847),
			color(display-p3 0.133 0.279 0.221)
		);
		--radix-jade-6: light-dark(
			color(display-p3 0.715 0.864 0.791),
			color(display-p3 0.174 0.334 0.273)
		);
		--radix-jade-7: light-dark(
			color(display-p3 0.603 0.802 0.718),
			color(display-p3 0.219 0.402 0.335)
		);
		--radix-jade-8: light-dark(
			color(display-p3 0.44 0.72 0.629),
			color(display-p3 0.263 0.488 0.411)
		);
		--radix-jade-9: light-dark(
			color(display-p3 0.319 0.63 0.521),
			color(display-p3 0.319 0.63 0.521)
		);
		--radix-jade-10: light-dark(
			color(display-p3 0.299 0.592 0.488),
			color(display-p3 0.338 0.68 0.555)
		);
		--radix-jade-11: light-dark(color(display-p3 0.15 0.5 0.37), color(display-p3 0.4 0.835 0.656));
		--radix-jade-12: light-dark(
			color(display-p3 0.142 0.229 0.194),
			color(display-p3 0.734 0.934 0.838)
		);

		--radix-jade-a1: light-dark(
			color(display-p3 0.024 0.757 0.514 / 0.016),
			color(display-p3 0 0.992 0.298 / 0.017)
		);
		--radix-jade-a2: light-dark(
			color(display-p3 0.024 0.612 0.22 / 0.04),
			color(display-p3 0.318 0.988 0.651 / 0.047)
		);
		--radix-jade-a3: light-dark(
			color(display-p3 0.012 0.596 0.235 / 0.087),
			color(display-p3 0.267 1 0.667 / 0.118)
		);
		--radix-jade-a4: light-dark(
			color(display-p3 0.008 0.588 0.255 / 0.142),
			color(display-p3 0.275 0.996 0.702 / 0.173)
		);
		--radix-jade-a5: light-dark(
			color(display-p3 0.004 0.561 0.251 / 0.204),
			color(display-p3 0.361 1 0.741 / 0.227)
		);
		--radix-jade-a6: light-dark(
			color(display-p3 0.004 0.525 0.278 / 0.287),
			color(display-p3 0.439 1 0.796 / 0.286)
		);
		--radix-jade-a7: light-dark(
			color(display-p3 0.004 0.506 0.29 / 0.397),
			color(display-p3 0.49 1 0.804 / 0.362)
		);
		--radix-jade-a8: light-dark(
			color(display-p3 0 0.506 0.337 / 0.561),
			color(display-p3 0.506 1 0.835 / 0.45)
		);
		--radix-jade-a9: light-dark(
			color(display-p3 0 0.459 0.298 / 0.683),
			color(display-p3 0.478 0.996 0.816 / 0.606)
		);
		--radix-jade-a10: light-dark(
			color(display-p3 0 0.42 0.271 / 0.702),
			color(display-p3 0.478 1 0.816 / 0.656)
		);
		--radix-jade-a11: light-dark(
			color(display-p3 0.15 0.5 0.37),
			color(display-p3 0.4 0.835 0.656)
		);
		--radix-jade-a12: light-dark(
			color(display-p3 0.142 0.229 0.194),
			color(display-p3 0.734 0.934 0.838)
		);

		/* Radix Sage P3 */
		--radix-sage-1: light-dark(
			color(display-p3 0.986 0.992 0.988),
			color(display-p3 0.064 0.07 0.067)
		);
		--radix-sage-2: light-dark(
			color(display-p3 0.97 0.977 0.974),
			color(display-p3 0.092 0.098 0.094)
		);
		--radix-sage-3: light-dark(
			color(display-p3 0.935 0.944 0.94),
			color(display-p3 0.128 0.135 0.131)
		);
		--radix-sage-4: light-dark(
			color(display-p3 0.904 0.913 0.909),
			color(display-p3 0.155 0.164 0.159)
		);
		--radix-sage-5: light-dark(
			color(display-p3 0.875 0.885 0.88),
			color(display-p3 0.183 0.193 0.188)
		);
		--radix-sage-6: light-dark(
			color(display-p3 0.844 0.854 0.849),
			color(display-p3 0.218 0.23 0.224)
		);
		--radix-sage-7: light-dark(
			color(display-p3 0.8 0.811 0.806),
			color(display-p3 0.269 0.285 0.277)
		);
		--radix-sage-8: light-dark(
			color(display-p3 0.725 0.738 0.732),
			color(display-p3 0.362 0.382 0.373)
		);
		--radix-sage-9: light-dark(
			color(display-p3 0.531 0.556 0.546),
			color(display-p3 0.398 0.438 0.421)
		);
		--radix-sage-10: light-dark(
			color(display-p3 0.492 0.515 0.506),
			color(display-p3 0.453 0.49 0.474)
		);
		--radix-sage-11: light-dark(
			color(display-p3 0.377 0.395 0.389),
			color(display-p3 0.685 0.709 0.697)
		);
		--radix-sage-12: light-dark(
			color(display-p3 0.107 0.129 0.118),
			color(display-p3 0.927 0.933 0.93)
		);

		--radix-sage-a1: light-dark(
			color(display-p3 0.024 0.514 0.267 / 0.016),
			color(display-p3 0 0 0 / 0)
		);
		--radix-sage-a2: light-dark(
			color(display-p3 0.02 0.267 0.145 / 0.032),
			color(display-p3 0.976 0.988 0.984 / 0.03)
		);
		--radix-sage-a3: light-dark(
			color(display-p3 0.008 0.184 0.125 / 0.067),
			color(display-p3 0.992 0.945 0.941 / 0.072)
		);
		--radix-sage-a4: light-dark(
			color(display-p3 0.012 0.094 0.051 / 0.095),
			color(display-p3 0.988 0.996 0.992 / 0.102)
		);
		--radix-sage-a5: light-dark(
			color(display-p3 0.008 0.098 0.035 / 0.126),
			color(display-p3 0.992 1 0.996 / 0.131)
		);
		--radix-sage-a6: light-dark(
			color(display-p3 0.004 0.078 0.027 / 0.157),
			color(display-p3 0.973 1 0.976 / 0.173)
		);
		--radix-sage-a7: light-dark(
			color(display-p3 0 0.059 0.039 / 0.2),
			color(display-p3 0.957 1 0.976 / 0.233)
		);
		--radix-sage-a8: light-dark(
			color(display-p3 0.004 0.047 0.031 / 0.275),
			color(display-p3 0.957 1 0.984 / 0.334)
		);
		--radix-sage-a9: light-dark(
			color(display-p3 0.004 0.059 0.035 / 0.471),
			color(display-p3 0.902 1 0.957 / 0.397)
		);
		--radix-sage-a10: light-dark(
			color(display-p3 0 0.047 0.031 / 0.51),
			color(display-p3 0.929 1 0.973 / 0.452)
		);
		--radix-sage-a11: light-dark(
			color(display-p3 0 0.031 0.02 / 0.624),
			color(display-p3 0.969 1 0.988 / 0.688)
		);
		--radix-sage-a12: light-dark(
			color(display-p3 0 0.027 0.012 / 0.895),
			color(display-p3 0.992 1 0.996 / 0.929)
		);
	}
}
