@utility surface {
	@apply bg-panel;
	backdrop-filter: var(--backdrop-filter-panel);
}

@utility card {
	@apply relative block overflow-hidden rounded-md border border-border-subtle p-3 contain-paint;
	&::before {
		@apply pointer-events-none absolute inset-0 z-[-1] rounded-md surface;
		content: '';
		transition: inherit;
	}
}

@utility icon {
	@apply inline-flex aspect-square h-[1em] w-[1em] shrink-0 leading-none text-current;
}

@utility checkbox {
	@apply size-[1em] overflow-hidden rounded-xs border border-border text-[1.125em] focus-visible:ring-1 focus-visible:ring-focus focus-visible:outline-none;
	&:checked,
	&[data-state~='checked'] {
		@apply border-theme bg-theme text-theme-contrast;
	}
	&:disabled {
		@apply cursor-not-allowed border-border-subtle bg-stain text-symbol opacity-90;
	}
}

@utility vr {
	@apply block h-full w-[1px] self-center border-0 border-none border-transparent;
	&::before {
		content: '';
		@apply block h-full bg-divider;
	}
}

@utility selectable {
	@apply cursor-pointer border-border-subtle;
	&:hover {
		@apply border-border bg-hovered;
	}
	&:is(.active, :active) {
		@apply border-border-active bg-active;
	}
	&:is(.selected, [data-status='active'], :has([data-status='active'])) {
		@apply border-border-selected bg-selected;
	}
	&:is(.selected, [data-status='active'], :has([data-status='active'])):hover,
	&:is(.selected, [data-status='active'], :has([data-status='active'])):active {
		@apply border-border-selected bg-selected-hovered;
	}
}

@utility themed {
	--color-display: var(--accent-12);
	--color-primary: var(--accent-a12);
	--color-secondary: var(--accent-a11);
	--color-hint: var(--accent-a10);
	--color-symbol: var(--accent-a11);
	--color-ghost: var(--accent-a6);

	--color-main: var(--accent-9);
	--color-main-active: var(--accent-10);
	--color-main-contrast: var(--accent-contrast);

	--color-tint: var(--accent-a2);
	--color-stain: var(--accent-a3);
	--color-dye: var(--accent-a4);

	--color-hovered: color-mix(in oklch, var(--accent-a1), var(--accent-a2));
	--color-active: color-mix(in oklch, var(--accent-a2), var(--accent-a3));
	--color-selected: color-mix(in oklch, var(--accent-a2), var(--accent-a3));
	--color-selected-hovered: color-mix(in oklch, var(--accent-a3), var(--accent-a4));
	--color-divider: var(--accent-a4);
	--color-border-subtle: var(--accent-4);
	--color-border: var(--accent-5);
	--color-border-selected: var(--accent-a5);
	--color-border-active: var(--accent-6);
	--color-edge: var(--accent-8);

	color: var(--color-accent);
}
