.commitList {
	min-width: 480px;
}

.commitRow {
	cursor: pointer;
	&:hover {
		background-color: var(--gray-a2);
	}
}

.selected {
	background-color: var(--accent-a3);
	&:hover {
		background-color: var(--accent-a4);
	}
}

.commitInspector {
	flex: 1 1 100%;
}
