button,
.button,
[type='button'],
[type='reset'],
[type='submit'] {
	/* First lines here from https://dbushell.com/2024/03/10/css-button-styles-you-might-not-know/ */
	inline-size: fit-content;
	touch-action: manipulation;
	user-select: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: var(--container);
	color: var(--accent);
	border: 1px solid var(--border);
	border-radius: var(--border-radius-small);
	padding-block: 0.15em;
	padding-inline: 0.5em;
	margin: 0;
	white-space: nowrap;

	&:hover {
		background-color: var(--float);
		border-color: var(--boundary);
	}

	&.link {
		appearance: none;
		background: none;
		border: none;
		outline: none;
		padding: 0;
		margin: 0;
	}
}

input[type='text'],
input[type='search'],
input[type='url'],
input[type='tel'],
input[type='email'],
input[type='password'],
input[type='number'],
textarea,
select {
	background-color: var(--splash);
	border: 1px solid var(--border);
	padding-block: 0.25em;
	padding-inline: 0.5em;
	border-radius: var(--border-radius-small);
	color: var(--primary);

	&:hover {
		border-color: var(--boundary);
	}

	&::placeholder {
		color: var(--hint);
	}

	&:focus-visible {
		outline-offset: 0;
	}

	&.inline {
		padding-block: 0;
		padding-inline: 0.25em;
		border: none;
		border-radius: 1px;
		border-block-end: 1px solid var(--border);
		background-color: transparent;
		max-height: 1lh;

		&:hover {
			border-color: var(--boundary);
		}
	}
}

button,
select,
label:has(> input),
summary {
	color: var(--accent);
}

svg,
.icon {
	fill: var(--secondary);
}
