*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

html {
	color-scheme: light dark;
	font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji';
	font-size: 100%;
	line-height: 1.65;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	text-size-adjust: 100%; /* MN: Prevent adjustments of font size after orientation changes in iOS. */
	-webkit-font-smoothing: antialiased;
	tab-size: 4; /* MN: Use a more readable tab size (opinionated). */
	min-height: 100dvb;
}

body {
	height: 100%;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-inline-size: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 1em;
	margin-block-end: 0.5em;
	text-wrap: balance;
	line-height: 1.25;
}

h4,
h5,
h6 {
	font-size: 1em; /* Discourage use of headings beyond h3 */
}

p {
	margin-block: 0.5em;
}

ol,
ul {
	margin-block: 0.75em;
	padding-inline-start: 1.75em;
	list-style: revert;
}

li {
	margin-block: 0.25em;
}

a,
:any-link {
	text-decoration-skip-ink: auto;
	text-underline-offset: 0.2ch;
}

/* Anything that has been anchored to should have extra scroll margin */
:target,
[id] {
	scroll-margin-block: 2rem;
}

/* https://css-tricks.com/the-focus-visible-trick/ */
:focus-visible {
	outline-width: 1px;
	outline-style: solid;
	outline-offset: 1px;
}
:focus:not(:focus-visible) {
	outline: none;
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
	font-size: 1em;
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 85%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 70%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentColor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

input,
button,
select,
optgroup,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
	letter-spacing: inherit;
	word-spacing: inherit;
	color: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-block-size: 10em;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
	appearance: button;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

fieldset {
	border: none;
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}
