/* https://stackoverflow.com/questions/26032089/in-html-how-can-i-have-text-that-is-only-accessible-for-screen-readers-i-e-fo#:~:text=visibility%3A%20hidden%3B%20and%2For,want%20read%20by%20screen%20readers. */
.screenreader {
	position: absolute !important; /* Outside the DOM flow */
	height: 1px;
	inline-size: 1px; /* Nearly collapsed */
	overflow: hidden;
	inset-inline-start: -10000px;
	clip-path: rect(1px, 1px, 1px, 1px); /* All other browsers */
	clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.inherit {
	all: inherit;
	color: currentColor;

	&:hover {
		text-decoration: revert;
		cursor: revert;
	}
}

.display {
	color: var(--display);
}

.primary {
	color: var(--primary);
}

.secondary {
	color: var(--secondary);
}

.hint {
	color: var(--hint);
}

.contrast {
	color: var(--main-contrast);
}

.accent {
	color: var(--accent);
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.themey {
	background-color: var(--main);
	color: var(--main-contrast);

	--link: currentColor;
	--link-active: currentColor;
}

.background {
	background-color: var(--background);
}

.container {
	background-color: var(--container);
}

.paper {
	background-color: var(--paper);
}

.float {
	background-color: var(--float);
}
